/**
 * Desktop nav styles
 */

.desktop-nav {
	width: 100%;
	padding-top: 20px;
	@media only screen and (max-width: 300px) {
		padding-top: 0;
	}

	.content-box {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		box-sizing: content-box;
		box-shadow: 1px 1px 3px black;
		transition: all 0.2s ease-out;
		@media only screen and (max-width: 350px) {
			padding: 5px 10px;
		}
	}

	&--opened {
		.content-box {
			border-radius: 10px 10px 0 0;
		}
	}

	.content-box {
		@media only screen and (max-width: 300px) {
			width: 100%;
			box-sizing: border-box;
			margin: 0;
			border-radius: 0;
		}
	}

	&--opaque {
		.content-box {
			background: rgb(40, 40, 40);
		}
	}

	.left {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 20px;
		@media only screen and (max-width: 500px) {
			margin-right: 10px;
		}
		@media only screen and (max-width: 350px) {
			display: none;
		}
		.image {
			width: 100%;
		}
	}

	&__head {
		display: block;
		.title {
			font-size: 2.2em;
			color: white;
			@media only screen and (max-width: 500px) {
				font-size: 1.9em;
			}
		}
	}

	&__trigger {
		color: $color-theme;
		border: 3px $color-theme solid;
		width: 50px;
		height: 50px;
		border-radius: 40px;
		transition: all 0.2s ease-out;
		display: none;
		cursor: pointer;
		font-size: 1.5em;
		&:hover {
			background: rgba(0, 0, 0, 0.6);
		}
		&:active {
			font-size: 0.5em;
		}
		@media only screen and (max-width: 1000px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
