/**
 * Styles for mobile navigation
 */

.mobile-nav {
	display: none;

	@media only screen and (max-width: 1000px) {
		display: block;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		height: 0;
		transition: all 0.2s ease-out;
		position: relative;
		z-index: 12;
		top: -63px;
	}

	&--opened {
		top: 0;
		opacity: 1;
		pointer-events: auto;
	}

	.content-box {
		background: rgb(40, 40, 40);
		border-radius: 10px;
		border-top: 1px #5a5a5a solid;
		box-shadow: 1px 1px 3px black;
	}

	.navigation-links {
		display: flex;
		flex-direction: column;
		&__item {
			margin-left: 0;
			width: 200px;
			.link {
				width: 100%;
				text-align: center;
			}
		}
	}

	&__divider {
		width: calc(100% - 40px);
		margin: auto;
		height: 1px;
		background: #5a5a5a;
		box-shadow: 1px 1px 3px black;
		margin-top: 0px;
	}

	&__description {
		padding: 20px;
		line-height: 1.6;
		color: #939393;
		text-align: justify;
		text-shadow: 1px 1px 3px black;
	}

	.social {
		padding-bottom: 20px;
	}
}
