@import "styles/vars.scss";

@import "styles/navigation/desktop-nav.scss";
@import "styles/form/button.scss";
@import "styles/form/dropdown.scss";

* {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	box-sizing: border-box;
	font-size: 1em;
}

html,
body,
figure,
h1,
h2,
h3,
h4,
h5,
p,
ul {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: rgb(10, 10, 10);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.theme {
	color: #28ffbf;
}

.bg-theme {
	background: #28ffbf;
}

.content-box {
	width: 1800px;
	margin: auto;
}

@media only screen and (max-width: 2000px) {
	.content-box {
		width: 80%;
	}
}

@media only screen and (max-width: 1300px) {
	.content-box {
		width: auto;
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media only screen and (max-width: 700px) {
	.content-box {
		margin-left: 20px;
		margin-right: 20px;
	}
}
